<h1 class="page-header header">
  Create Album
</h1>


<div class="form">
  <%= form_for(:album, url: admin_albums_path) do |f| %>

    <div class="form-area">
      <%= f.text_field :name, placeholder: "name", class: "form-info" %>
    </div>

    <div class="form-area">
      <%= f.submit class: "form-info" %>
    </div>
  <% end %>
</div>