<h1 class="header page-header">
  Songs
</h1>

<div class="links">
  <%= link_to 'Create Song', new_admin_song_path, class: 'admin-create' if current_admin %>
  <% songs.each do |song| %>
    <%= link_to song.name, song_path(song), class: 'nav song' %>
    <%= link_to 'Edit', edit_admin_song_path(song), class: 'nav admin-links' if current_admin %>
  <% end %>
</div>