
<h1 class="page-header header">
  <%= song.name %>
</h1>


<div class="plist-links">

  <%= link_to song.album.name, album_path(song.album), class: 'nav' %>

  <% if current_user %>
    <%= render partial: 'plist_form', locals: { song: song } %>
  <% end %>

</div>